<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dilsonjlrjr.mateus.estoque.mapper.FilialMapper">
    <insert id="save" useGeneratedKeys="true">
        INSERT INTO ES01FILIAL(ES01_VARCHAR_NOME) VALUES (#{filial.nome})
    </insert>
</mapper>